<div class="form-group row">
    <label class="col-form-label col-sm-2" for="ten">Tựa sách</label>
    <div class="col-sm-10">
      <input autofocus class="form-control" name="ten" required />
    </div>
  </div>
 
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="noidung">Nội dung</label>
    <div class="col-sm-10">
      <textarea class="form-control" cols="10" name="noidung" id="noidung" maxlength="3200" rows="10" ></textarea>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="price">Gía sách</label>
    <div class="col-sm-10">
      <input autofocus class="form-control" name="price"  required />
    </div>
  </div>
  

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="image">Hình ảnh</label>
    <div class="col-sm-10">
        <input autofocus class="form-control" name="samplefile" type="file" required />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="price">Nhà xuất bản</label>
    <div class="col-sm-10">
      <input autofocus class="form-control" name="nxb"  required />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="price">Công ty</label>
    <div class="col-sm-10">
      <input autofocus class="form-control" name="company"  required />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="price">Loại sách</label>
    <div class="col-sm-10">
      <input autofocus class="form-control" name="loai"  required />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="price">SKU</label>
    <div class="col-sm-10">
      <input autofocus class="form-control" name="sku"  required />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="price">Số trang</label>
    <div class="col-sm-10">
      <input autofocus class="form-control" name="page"  required />
    </div>
  </div>