              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../uploads/assets/js/jquery/jquery.min.js "></script>
<script type="text/javascript" src="../uploads/assets/js/jquery-ui/jquery-ui.min.js "></script>
<script type="text/javascript" src="../uploads/assets/js/popper.js/popper.min.js"></script>
<script type="text/javascript" src="../uploads/assets/js/bootstrap/js/bootstrap.min.js "></script>
<!-- waves js -->
<script src="../uploads/assets/pages/waves/js/waves.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="../uploads/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
<script type="text/javascript" src="../uploads/assets/js/common-pages.js"></script>
</body>

</html>