<%- contentFor('title') %>
Info
<%- contentFor('body') %>




  <div class="table-responsive-sm">
      <!-- <label><h3>Tìm sách</h3></label>

      <input type="text" name="search" id="search" placeholder="Nhập tựa sách" class="form-control" style="margin-bottom: 10px;">
    <table class="table table-hover table-bordered ">
      <thead>
        <tr class="bg-primary text-center">
          <th class="">Tựa sách</th>
          <th>Nội dung</th>
          <th>Gía tiền (vnđ)</th>
        </tr>
      </thead>
      <tbody>

          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>

      </tbody>
    </table> -->
    <!-- <h2>Search Book</h2>

    <input name="search" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

        <ul id="myUL">
          <li><a href="#">test</a></li>
          <li><a href="#">Agnes</a></li>

          <li><a href="#">Billy</a></li>
          <li><a href="#">Bob</a></li>

          <li><a href="#">Calvin</a></li>
          <li><a href="#">Christina</a></li>
          <li><a href="#">Cindy</a></li>
        </ul> -->

        <div class="containerapi">
          <h1>&#x2728;Book Search &#x2728;</h1>
          <div id="searchWrapper">
              <input
                  type="text"
                  name="searchBar"
                  id="searchBar"
                  placeholder="Tìm kiếm"
              />
          </div>
          <ul id="charactersList"></ul>
      </div>

  </div>